@import "./colours";

body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

// .main-header-space {
//   position: relative;
//   top: 55px;
// }

// .all-center {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
