@import '../../../../styles.scss';

.frame-one{
  padding: 12.5rem 0;
  width: 100%;
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background: fixed;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #3c3c3c;
  @include respond(tablet) {
    padding: 8.125rem 0;
    height: 60vh;
  }
  @include respond(mobile) {
    padding-top: 5.625rem;
    height: 45vh;
  }
  @include respond(mobileM) {
    height: 35vh;
  }
  h1{
    font-size: 2.813rem;
    text-align: center;
    color: $white;
    font-family: 'Satisfy', cursive;
    @include respond(mobile) {
      font-size: 2.188rem;
    }
  }
}
