<div class="services">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-6">
        <h1>SERVICES</h1>
        <h6>Use us to book and plan</h6>
      </div>

      <div class="col-12 col-md-6 col-lg-6">
        <div class="services-points">
          <li>Any hotel, anywhere (no minimum of nights required)</li>
          <li class="pt-4">City breaks (hotels and flights)</li>
          <li class="pt-4">City services, suggestions and bookings (tickets, tours, reservations)</li>
          <li class="pt-4">Active holidays and retreats (whichever theme you desire)</li>
          <li class="pt-4">Bucket list journeys (from cruising around Antarctica or through the amazonian jungle to sleeping under the northern lights, getting spiritual in Bhutan or gorilla trekking in Rwanda)</li>
          <li class="pt-4">Multiple destination journeys</li>
          <li class="pt-4">Multi-generation holidays</li>
          <li class="pt-4">Any large event abroad</li>
        </div>
      </div>

    </div>
  </div>
</div>
