<div class="recipe">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-6">
        <div class="left">
          <h6>The bio</h6>
          <p>We build a detailed biography, on all family members, from your duvet preferences to allergies, to how you take your coffee in the morning, as well as the favourite flowers of your spouse. We call the hotel in advance and make sure they are well aware of all your preferences, before you arrive.</p>
        </div>

        <div class="left">
          <h6>Concierge</h6>
          <p>With a network only matched by few, members have access to local fixers in almost all parts of the world, taking care of anything from the safari, the bachelor weekend, sold out tickets or a table at the restaurant the hotel concierge can't assist with.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-6">
        <div class="right">
          <h6>On your terms</h6>
          <p>Planning the holiday can be done in as little as a few text messages, at any hour of the day, to a meeting at your residence at your convenience. We take every little detail in consideration when planning the journey or weekend getaway - never restricted by usual office hours, and always reachable</p>
        </div>

        <div class="right">
          <h6>Best rate</h6>
          <p>We always strive to get our members the best possible rate, always lower than anywhere publicly accessible online, and always including various perks and amenities making every stay valuable. Sourcing villas and yachts will also be done, either via the owners or at a discount through their appointed agent.</p>
        </div>
      </div>

    </div>
  </div>
</div>

