<div class="footer">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-6 col-6">
        <div class="information">
          <h6>Coyote Club</h6>

          <div class="locate">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <h4>Peshawar Office</h4>
                <div class="addres">
                  <p>UG-150,</p>
                  <p>Deans Trade Center</p>
                  <p>Peshawar, Cantt</p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-6">
                <h4>Karachi Office</h4>
                <div class="addres">
                  <p>Flat No. A,</p>
                  <p>Plot No. 20 C lane No. 2</p>
                  <p>Rahat Commercial Phase VI</p>
                </div>
              </div>
            </div>
          </div>

          <p>Affiliate to SmartFlyer, a Virtuoso Agency</p>

          <div class="social">
            <ul>
              <li><a href="https://mail.google.com/" class="text-uppercase">LOGIN</a></li>
              <li><a href="https://www.instagram.com/" class="text-uppercase">INSTAGRAM</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Term" class="text-uppercase">TERMS</a></li>
            </ul>
          </div>

          <div class="mail">
            <a href="#">members@coyoteclub.com.pk</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
