<div class="services">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1>Our Services</h1>

        <div class="service-main">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
              <div class="inner" style="background-image: url(../../../assets/img/service1.jpg);">
                <h6>Hotel Booking</h6>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="inner" style="background-image: url(../../../assets/img/service2.jpg);">
                <h6>Ticketing</h6>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="inner" style="background-image: url(../../../assets/img/service3.jpg);">
                <h6>Tour Package</h6>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="inner" style="background-image: url(../../../assets/img/service4.jpg);">
                <h6>Transfer's</h6>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="inner" style="background-image: url(../../../assets/img/service5.jpg);">
                <h6>Corporate Travel</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="location">
          <div class="row">

            <div class="col-12 col-md-7 col-lg-6">
              <div class="left">
                <h3>Our collection for domestic experience:</h3>
                <ul>
                  <li><a href="#">Karachi</a></li>
                  <li><a href="#">Islamabad </a></li>
                  <li><a href="#">Lahore</a></li>
                  <li><a href="#">Multan</a></li>
                  <li><a href="#">Muree</a></li>
                  <li><a href="#">Nathia gali</a></li>
                  <li><a href="#">Naran,kaghan</a></li>
                  <li><a href="#">Hunza</a></li>
                  <li><a href="#">Gilgit </a></li>
                  <li><a href="#">Skurdu</a></li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-5 col-lg-6">
              <div class="right">
                <h3>International access to:</h3>
                <ul>
                  <li><a href="#">Dubai</a></li>
                  <li><a href="#">Turkey </a></li>
                  <li><a href="#">Malaysia</a></li>
                  <li><a href="#">Maldives</a></li>
                  <li><a href="#">Europe</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>

