@import "../../../../styles.scss";

.about {
  width: 100%;
  height: 135vh;
  padding-top: 9.688rem;
  background: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-color: #2a2a2a;
  @include respond(tablet) {
    height: 115vh;
    padding-top: 0rem;
  }
  @include respond(mobile) {
    height: 140vh;
  }
  @include respond(mobileM) {
    height: 130vh;
  }
  .about-logo {
    img {
      width: 18.75rem;
      height: auto;
      object-fit: cover;
      object-position: center;
      display: block;
      margin: auto;
      @include respond(tablet) {
        margin-top: 4.375rem;
      }
      @include respond(mobile) {
        margin-top: 5rem;
        width: 16.875rem;
      }
    }
  }
  .info {
    margin-top: 6.25rem;
    h4 {
      font-size: 1.875rem;
      font-weight: 800;
      color: $white;
      @include respond(tablet) {
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
      }
    }
    p {
      padding-top: 2.5rem;
      color: white;
      font-size: 1.688rem;
      @include respond(tablet) {
        font-size: 1.5rem;
        padding-top: 2.375rem;
        text-align: center;
      }
    }
  }
  .about-btn {
    margin-top: 3.125rem;
    @include respond(tablet) {
      margin-top: 4.375rem;
    }
    @include respond(mobile) {
      margin-top: 3.125rem;
    }
    a {
      border: 0.063rem solid $white;
      color: $white;
      font-size: 0.875rem;
      padding: 0.625rem 1.25rem;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        transition: 0.5s;
        opacity: 0.5s;
        background-color: $white;
        color: $black;
      }
    }
  }
  .customer-service{
    a{
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 100;
      img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        // border: 2px solid #f7f7f7;
        // border-radius: 50px;
      }
    }
  }
}
