<div class="about" style="background-image: url(../../../../assets/img/bg9.jpg);">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-10 col-10">
        <div class="about-logo">
          <img src="../../../../assets/img/logo1.png">
        </div>

        <div class="info">
          <h4>We create experiences and journeys that will stay with our members forever and the best possible value.</h4>
          <p>We take our network and trust built over the past two decades, and combine it with our members collective coolness and purchasing power - generating access to the best hotels, villas and yachts worldwide, at unbeatable rates and with perks not available to the public.</p>
        </div>

        <div class="about-btn text-center">
          <a class="text-uppercase">Apply Now</a>
        </div>

        <div class="customer-service">
          <a href="tel:+923312767841"><img src="../../../../assets/img/cs4.png"></a>
        </div>
      </div>

    </div>
  </div>
</div>
