<div class="partner">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-6">
        <div class="image">
          <img src="../../../../assets/img/partners.png">
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-6">
        <div class="partner-details">
          <h1>OUR PARTNERS </h1>
          <h6>Worldwide and growing by the week</h6>
          <p>Our partners is an ever growing list of hotels, villas, yachts and more. They range from boutique hotels only by known by few to 27 invitation only preferred partnerships, with the most exclusive luxury hotel groups in the world (see below), all promising exclusive rates, privileges and VIP-status.</p>
          <p class="pt-3">We are also building a portfolio of villas, yachts and private jets sourced directly from the owners and operators, earning our members better rates and privileges not publicly accessible.</p>
        </div>
      </div>

    </div>
  </div>
</div>
