<div class="hotel">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="hotel-inner">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 order-sm-2 order-lg-1">
              <div class="title">
                <h6>LUXURY COLLECTION</h6>
                <h1>Americas Hotel's</h1>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 order-sm-1 order-lg-2">
              <div class="image">
                <img src="../../../assets/img/h6.jpeg">
              </div>
            </div>
          </div>
        </div>

        <div class="hotel-inner">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 order-sm-1 order-lg-2">
              <div class="title">
                <div class="seprator"></div> <h6>LUXURY COLLECTION</h6>
                <h1>Paris Hotel's</h1>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 order-sm-2 order-lg-1">
              <div class="image">
                <img src="../../../assets/img/h3.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="hotel-inner">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 order-sm-2 order-lg-1">
              <div class="title">
                <div class="seprator"></div> <h6>LUXURY COLLECTION</h6>
                <h1>Asia & Pacific Hotel's</h1>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6 order-sm-1 order-lg-2">
              <div class="image">
                <img src="../../../assets/img/h4.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="hotel-inner">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 order-sm-1 order-lg-2">
              <div class="title">
                <div class="seprator"></div> <h6>LUXURY COLLECTION</h6>
                <h1>Europe Hotel's</h1>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6 order-sm-2 order-lg-1">
              <div class="image">
                <img src="../../../assets/img/h2.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
