<div class="promise">
  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-6">
        <h1>THE PROMISE</h1>
      </div>

      <div class="col-12 col-lg-6">
        <p>The foundation of our Travel Club is trust, which is why we have a membership based model that free's us from being commission driven, meaning all of our suggestions will always be with our members best interest at heart and fully transparent.</p>
        <p class="pt-4">It also gives us access to lower rates than you can find anywhere online, as well as VIP/corporate rates at selected properties.</p>
        <p class="pt-4">Through our worldwide network of hosts, fixers, guides and concierges, we'll do our utmost to find the perfect experiences for your journey.</p>
      </div>

    </div>
  </div>
</div>
