@import '../../../../styles.scss';

.promise{
  padding: 3.75rem 0;
  @include respond(tablet) {
    padding: 3.75rem 0;
  }
  h1{
    font-size: 2.625rem;
    font-weight: 600;
    @include respond(mobile) {
      font-size: 2.188rem;
    }
  }
  p{
    color: $gray;
    font-size: 1.625rem;
    @include respond(tablet) {
      font-size: 1.25rem;
      padding-top: 2.5rem;
    }
    @include respond(mobile) {
      font-size: 1.125rem;
      padding-top: 2.188rem;
    }
  }
}
